@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color: aquamarine;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* padding: 100px 0; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-size:cover ;
    background-position: center;
    /* align-items: center; */
}
/* .main{
    padding-left: 900px;
    padding-bottom: 40px;
    width: 50%;
    height: 10vh;
} */
header{
    position: relative;
    top:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .Octanet{
    position: relative;
    width: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
}
header .navigation a{
    color: #111;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    font-style: bold;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background:blue;
    color: #fff;
    
    

     
    /* background: #000; */
}

.content{
max-width: 650px;
margin: 60px 100px;
}
.content .info h2{
    color: #226a80;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: #226A80;
    font-size: 50px;
    font-weight: 600;
    /* line-height: 30px;
    margin-bottom: 30px; */
}
.content .info p{
    /* color: #000; */
    font-size: 18px;
    font-weight: 500;
    /* line-height: 30px; */
    margin-bottom: 40px;
}
.content .info-btn{
    color: #fff;
    background: #226A80;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.content .info-btn:hover{
    background: #0C4f60;
    /* color: #000; */
}
.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: #fff; */
}
.media-icons a{
    position: relative ;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right: 60px;
}
.media-icons a:hover{
    transform: scale(1.5);
}
label{
    display: none;
}
label .bi-x{
    display: none;
}

#check{
    z-index: 3;
}
@media(max-width: 960px){
    header .navigation{
        display: none ;
    }
    #check{
        z-index: 2;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color:#fff;

    }
    label .bi-list{
        display: none;
    }
    #check:checked ~ header .navigation{
       z-index: index 2;
       position: fixed;
       background: rgba(114, 223, 255, 0.9);
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       display: flex;
         flex-direction: column;
            justify-content: center;
            align-items: center;


    }

    #check:checked ~ header .navigation a{
       font-weight: 700;
       margin-right: 0;
         margin-bottom: 50px;
         letter-spacing: 2px;
         
    }
    #check:checked ~ header label .bi-x{
        /* margin-right: 0; */
        display: none;
    }
    #check:checked ~ header label .bi-x{
        display: block;
        z-index: index 2;
        position: fixed;
        /* top: 20px; */
    }
    label .bi-list{
       position: absolute;
    }
   
}

#check:checked ~ header .navigation{
    z-index: 3;
    position: fixed;
    background: rgba(114, 223, 255, 0.99);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
